* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.productPageWrapper {
  height: calc(100vh - 240px);
  margin: 80px 219px 80px 100px;
}
.productContainer {
  height: 100%;
  padding-top: 10px;
  display: flex;
  /* justify-content: space-between; */
}
.productContainerRight {
  display: flex;
  flex-direction: column;
  width: 292px;
  justify-content: space-between;
  height: 100%;
}
.productContainerLeft {
  height: 100%;
  width: 80px;
  margin-right: 40px;
}

.smallImage {
  margin-bottom: 20px;
  width: 100%;
  height: 80px;
  cursor: pointer;
}

.productContainerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 610px;
  height: 513px;
  margin-right: 100px;
}
.mainProductImg {
  object-fit: fill;
  object-fit: contain;
  height: 100%;
  margin-bottom: 50px;
}

.productTitle {
  font-weight: bold;
  line-height: 1.5;
  font-size: 30px;
}
.productProductTitle {
  text-align: left;
}
.productTitle span {
  font-weight: lighter;
}
.variationTitle {
  margin-bottom: 10px;
}

.productPrice1 {
  font-weight: bold;
  font-size: 18px;
}
.productPrice2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 24px;
}
.productSizes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productSizes h5 {
  margin-bottom: 5px;
}
.sizeContainer {
  display: flex;
}
.productSize {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 43px;
  width: 33%;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid black;
  margin-left: 10px;
}

.sizeText {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.variationSizeText,
.VariationSizeText {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-right: 10px;
}
.productAdd,
.productRemove,
.productQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  width: 10px;
  padding: 7px;
  margin-right: 15px;
  border: 1px solid black;
  font-size: 25px;
}
.productQuantity {
  border: none;
  font-size: medium;
}
.productImg {
  width: 120px;
  height: 120px;
}
.productTotal {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}
.productBtn {
  width: 100%;
}
.addToCart:disabled {
  cursor: not-allowed;
  background-color: aliceblue;
}

.addToCart {
  width: 100%;
  flex: 1;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
  background-color: #25d366;
  color: #000;
  width: 100%;
  outline: none;
  border: none;
}

.addToCart:hover {
  color: black;
}
.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #25d366;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.defaultAddToCart {
  width: 100%;
  flex: 1;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
  background-color: #25d366;
  color: #000;
  width: 100%;
  outline: none;
  border: none;
}
.defaultAddToCart:hover {
  color: white;
}
.productDesc {
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  font-weight: 400;

  font-size: 16px;
}
.selectedSize,
.selectedTouchIDinkeyboard,
.selectedWithUSB3ports,
.selectedCapacity {
  color: white;
  cursor: pointer;
  background-color: #000;
}
.productSizeWrapper {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.variationProductSizeWrapper {
  display: flex;
  margin-bottom: 15px;
}
.productCapacityWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productCapacity {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 63px;
  font-size: 16px;
  border: 1px solid black;
}
.variationProductSize {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 43px;
  font-size: 16px;
  border: 1px solid black;
  margin-right: 10px;
}
.productColorWrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  align-items: center;
}
.variationProductColorWrapper {
  display: flex;
  margin-right: 5px;
  align-items: center;
  margin-bottom: 15px;
}
.productDisplayColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #454647fb;
  cursor: pointer;
}
.variationProductDisplayColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #454647fb;
  cursor: pointer;
}
.selectedColor {
  height: 35px;
  width: 35px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectedColorWrapper,
.variationSelecTedColorWrapper {
  margin-right: 30px;
}

.productQuantitySet {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.productPageAdd,
.productPageRemove,
.productPageQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  width: 10px;
  padding: 7px;
  margin-right: 15px;
  border: 1px solid black;
  font-size: 25px;
}
.productPageQuantity {
  border: none;
  font-size: medium;
}

.variationContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.514);
  z-index: 999;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  top: -50%;
  transition: all 0.5s ease-in-out;
}

/* width */
.variationContentContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.variationContentContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.variationContentContainer::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.466);
  border-radius: 10px;
}

/* Handle on hover */
.variationContentContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.555);
}

.variationContentContainer {
  overflow-y: scroll;
  width: 35%;
  height: 70%;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.variationSet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.variationQuantity {
  align-items: center;
}
.containerTop {
  display: flex;
  justify-content: space-between;
}

.show {
  visibility: visible;
  z-index: 200;
  opacity: 1;
  bottom: 0;
  top: 0;
  min-height: 100%;
}
.addVariation:disabled {
  cursor: not-allowed;
  background-color: #25d3655b;
}

.addVariation {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: #25d366;
  color: white;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
}

.variationRemove:disabled,
.variationAdd:disabled {
  cursor: not-allowed;
  background-color: #25d36570;
}

.variationRemove,
.variationAdd {
  font-size: 20px;

  padding: 5px 12px;
  background-color: #25d366;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.closeIcon {
  cursor: pointer;
  color: #d32533;
}
